<div class="flex min-h-screen overflow-hidden">
  <!-- Panel izquierdo (40%) - Formulario -->
  <div
    class="w-[40%] bg-white p-8 flex items-center justify-center relative"
  >
    <div class="w-full max-h-screen overflow-y-auto px-4">
      <div class="mb-8 text-center">
        <h1 class="text-3xl font-bold text-gray-900 mb-2">DentalCare</h1>
        <p class="text-lg text-gray-600">
          {{
            userType === "DENTIST"
              ? "Únete a nuestra red de profesionales"
              : "Comienza tu viaje hacia una sonrisa saludable"
          }}
        </p>
      </div>

      @if (isLoading) {
      <div class="flex justify-center items-center h-64">
        <div
          class="animate-spin rounded-full h-12 w-12 border-b-2 border-blue-600"
        ></div>
      </div>
      } @else {
      <app-generic-form
        [fields]="formFields"
        [formTitle]="
          userType === 'DENTIST'
            ? 'Registro de Dentista'
            : 'Registro de Paciente'
        "
        [submitText]="'Crear Cuenta'"
        [icon]="{ name: 'shield', class: 'logo-icon text-blue-600' }"
        (formSubmit)="handleFormSubmit($event)"
      />
      }

      <!-- Mensaje de Error -->
      @if (errorMessage) {
      <div
        class="mt-4 p-4 bg-red-100 border border-red-400 text-red-700 rounded-lg"
      >
        {{ errorMessage }}
      </div>
      }
    </div>
  </div>

  <!-- Panel derecho (60%) - Imagen -->
  <div class="w-[60%] relative overflow-hidden">
    <img
      src="fondo.jpg"
      alt="Pareja sonriente usando una tablet"
      class="w-full h-screen object-cover"
    />
  </div>
</div>
